{% extends "::base.html.twig" %}

{% block title %}TestBundle:Article:getArticle{% endblock %}

{% block contenido %}
<h1>Welcome to the Article:getArticle page</h1>

    <h3>{{ path('get_article') }}</h3>
{% endblock %}
