{% extends 'FrontendBundle:Default:layout.html.twig' %}

{% block titulo %}
    Informaci贸n General
{% endblock %}

{% block contenido %}
    {# TODO: Agregar iconos para las diferentes Secciones #}
    <ol role="menubar" aria-haspopup="true" aria-labelledby="fileLabel" aria-label="Informaci贸n General">
        <li role="option" aria-setsize="4" aria-posinset="1">
            <a class="btn btn-default btn-block" href="http://www.google.com.ar">Informaci贸n del Lugar</a>
        </li>
        <li role="option" aria-setsize="4" aria-posinset="2">
            <a class="btn btn-default btn-block" href="http://getbootstrap.com/javascript/#collapse">Servicios</a>
        </li>
        <li role="option" aria-setsize="4" aria-posinset="3">
            <a class="btn btn-default btn-block" href="http://www.w3.org/TR/wai-aria/roles">Listado de Servicios</a>
        </li>
        <li role="option" aria-setsize="4" aria-posinset="4">
            <a class="btn btn-default btn-block" href="https://github.com/ricky6982/tesisApp">Como llegar a</a>
        </li>
    </ol>
    <ol>
        <li role="option" aria-setsize="4" aria-posinset="1">
            Informaci贸n del Lugar</a>
        </li>
        <li role="option" aria-setsize="4" aria-posinset="2">
            Servicios</a>
        </li>
        <li role="option" aria-setsize="4" aria-posinset="3">
            Buscar un Servicio</a>
        </li>
        <li role="option" aria-setsize="4" aria-posinset="4">
            Como llegar a</a>
        </li>
    </ol>
{% endblock %}