<footer style="height: 100px; background-color: rgb(30, 34, 48); color: white; text-align:center; padding-top: 20px;">
    <div>
        <img src="{{ asset('public/img/logo-flat.png') }}" width="47px">
        {# <a href="{{ path('about_us') }}">Acerca de nosotros</a> #}
    </div>
    <div class="text-right" style="padding: 0 15px 10px 15px;">
        Copyright {{ date('now') | date('Y') }}
    </div>
</footer>