.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.Site-content {
  flex: 1;
}
.fix-navbar-default {
  background-color: white;
}
#network {
  width: 100%;
  height: 600px;
}
.leyenda {
  background-color: #39A3BB;
  border-radius: 5px;
  border: 1px solid rgba(183, 157, 157, 0.52);
  box-shadow: 0 0 50px rgba(206, 201, 201, 0.75);
  color: white;
  margin: 50px;
  padding: 50px;
}
.info-nodo-success,
.info-nodo-warning {
  border-radius: 50%;
  display: inline-block;
  height: 1em;
  margin: 0 10px;
  position: relative;
  top: 2px;
  width: 1em;
}
.info-nodo-success {
  background-color: #10E256;
}
.info-nodo-warning {
  background-color: #FFBD66;
}
.tab-bordered > div {
  border: 1px solid #ddd;
  border-top: none;
  padding: 20px;
}
.spinning {
  -webkit-animation-name: spin;
  -webkit-animation-duration: 1000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: 1000ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spin;
  -ms-animation-duration: 1000ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  animation-name: spin;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@-ms-keyframes spin {
  from {
    -ms-transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
  }
}
@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.localizacion .nodo-origen,
.localizacion .nodo-destino {
  border-radius: 50%;
  border: 3px solid black;
  clear: both;
  height: 50px;
  line-height: 45px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 50px;
}
.localizacion .panel-izq,
.localizacion .panel-der {
  float: left;
  padding: 20px 0;
  position: relative;
  text-align: center;
}
.localizacion .panel-izq .item-remove,
.localizacion .panel-der .item-remove {
  background-color: #D02727;
  border-radius: 50%;
  border: 2px solid red;
  color: white;
  height: 30px;
  position: absolute;
  right: -10px;
  top: -15px;
  width: 30px;
}
.localizacion .panel-izq .item-remove:hover,
.localizacion .panel-der .item-remove:hover {
  background-color: #FC0404;
}
.localizacion .panel-izq .item-remove:active,
.localizacion .panel-der .item-remove:active {
  background-color: #CB0000;
}
.localizacion .panel-izq {
  border-right: 3px solid black;
  padding-right: 20px;
  width: 50%;
}
.localizacion .panel-der {
  border-left: 3px solid black;
  left: -3px;
  padding-left: 20px;
  position: relative;
  width: 50%;
}
.localizacion .popover-item {
  position: relative;
  margin: 20px 0;
  min-height: 9
        0px;
  display: block;
}
