{% extends "::base.html.twig" %}
{# TODO: Verificar donde se utilizará esta plantilla #}
{% block title %}FrontendBundle:Informacion:buscar{% endblock %}

{% block body %}
<h1>Welcome to the Informacion:buscar page</h1>
{% endblock %}
