{% extends "FrontendBundle:Default:layout.html.twig" %}

{% block title %}Guiarme hasta {{ item.nombre }}{% endblock %}

{% block contenido %}

<strong>Estoy en</strong>
<ul>
    {% for puntoRef in puntosReferencia %}
        <li>
            <a href="{{ path('indicaciones', {'id': item.id, 'puntoInicio': puntoRef.id }) }}">{{ puntoRef.infRef.titulo }}</a>
        </li>
    {% endfor %}
</ul>

<a href="{{ path('informacion_servicios') }}">Volver</a>

{% endblock %}
