{% extends 'FrontendBundle:Default:layout.html.twig' %}

{% block title %}
    Informaci贸n General del edificio Terminal de Omnibus de Jujuy
{% endblock %}

{% block contenido %}
    {% if app.environment == 'dev' %}
        <h1>Main Menu</h1>
    {% endif %}

    <ol role="menubar" aria-haspopup="true" aria-labelledby="fileLabel" aria-label="Informaci贸n General">
        <li role="option" aria-setsize="4" aria-posinset="1">
            <a href="{{ path('informacion_edificio') }}">Informaci贸n del Lugar</a>
        </li>
        <li role="option" aria-setsize="4" aria-posinset="2">
            <a href="{{ path('informacion_servicios') }}">Servicios</a>
        </li>
        <li role="option" aria-setsize="4" aria-posinset="3">
            <a href="{{ path('informacion_como_llegar') }}">Como llegar a</a>
        </li>
        <li role="option" aria-setsize="4" aria-posinset="4">
            <a href="{{ path('confiteria_homepage') }}">Confiterias</a>
        </li>
        <li role="option" aria-setsize="4" aria-posinset="4">
            <a href="#">Acerca de la aplicaci贸n</a>
        </li>
    </ol>
{% endblock %}