{% extends "FrontendBundle:Default:layout.html.twig" %}

{% block title %}Indicaciones para llegar a {{ servicio.nombre }}{% endblock %}

{% block contenido %}

<ol>
    {% for item in indicaciones %}
        <li>{{ item }}</li>
    {% endfor %}
</ol>

<a href="{{ path('informacion_servicio_detalle', {'id': servicio.servicio.id }) }}">Volver</a>


{% endblock %}
