{% extends 'FrontendBundle:Default:layout.html.twig' %}

{% block title %}{{ item.nombre }}{% endblock %}

{% block contenido %}

{{ item.descripcion }}
<br>

<a href="{{ path('guiame', {'id': item.id }) }}">Guíame hasta aqui</a>

<br>

<a href="{{ path('informacion_servicio_detalle', {'id': item.servicio.id }) }}">Volver</a>
{% endblock %}