{% extends 'FrontendBundle:Default:layout.html.twig' %}

{% block contenido %}

    <legend>Servicio {{ servicio.nombre }}</legend>
    <ul>
        {% for item in servicio.items %}
        <li>{{ item.nombre }}</li>
        {% endfor %}
    </ul>
{% endblock %}