{% extends 'FrontendBundle:Default:layout.html.twig' %}

{% block title %}Listado de Servicios{% endblock %}
{% block contenido %}
    {% if app.environment == 'dev' %}
        <h1>Listado de Servicios</h1>
    {% endif %}

    <ul>
        {% for servicio in servicios %}
        <li><a href="{{ path('informacion_servicio_items', {'id': servicio.id }) }}">{{ servicio.nombre }}</a></li>
        {% endfor %}
    </ul>

    <a href="{{ path('informacion_homepage') }}">Volver al menu principal</a>
{% endblock %}