{% extends 'FrontendBundle:Default:layout.html.twig' %}

{% block title %}
    Servicio {{ servicio.nombre }}
{% endblock %}    

{% block contenido %}

    <ul>
        {% for item in servicio.items %}
        <li><a href="{{ path('informacion_servicio_item', {'id': item.id }) }}">{{ item.nombre }}</a></li>
        {% endfor %}
    </ul>

    <a href="{{ path('informacion_servicios') }}">Volver</a>
{% endblock %}