

{% for categoria in local.categorias %}

<legend>{{ categoria.nombre }}</legend>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Descripción</th>
            <th>Precio</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for producto in categoria.productos %}
        <tr>
            <td>{{ loop.index }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endfor %}