<div class="row">
    <div class="col-sm-12 form-group">
        <div class="pull-left">
            <div class="form">
                <button class="btn btn-primary" data-toggle="modal" data-target="#establecerServicioModal" ng-disabled="!arcoEdit">
                    <i class="glyphicon glyphicon-flag"></i> Establecer Servicios
                </button>
                <p class="help-block"><strong>Importante:</strong>Seleccione un arco para establecer sus servicios</p>
            </div>

        </div>
        <div class="pull-right">
            <save-button class="btn btn-primary" label="Guardar"></save-button>
        </div>
    </div>
    <div class="col-sm-12">
      <div class="panel panel-default">
        <div id="network" class="panel-body"></div>
      </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="establecerServicioModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document" style="width: 850px;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title text-center" id="myModalLabel">Agregar servicios al arco seleccionado</h3>
      </div>
      <div class="modal-body text-center">
        <agregar-servicio arco="arcoEdit" listado-servicios="listadoServicios"></agregar-servicio>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="updateArco()">Guardar</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>


