{% verbatim %}
<div ng-show="nodoEdit" class="form-group">
  <legend>Nodo {{ nodoEdit.id }} conectado a:</legend>
  <div ng-repeat="item in nodo.conexiones" class="form-group">Nodo <strong>" {{ item }} " </strong>por 
    <select ng-model="nodoEdit.conexiones[item]" class="form-control">
      <option value="izq">Izquierda</option>
      <option value="der">Derecha</option>
      <option value="arr">Arriba</option>
      <option value="abj">Abajo</option>
    </select>
  </div>
  <button ng-click="orientacion.updateVecinos(); orientacion.validar()" class="btn btn-primary btn-block">Guardar</button>
</div>
<p>Cada nodo tiene una conexión hacia otros, estos estan ubicados en diferentes direcciones: Izquierda, Derecha, Arriba o Abajo.</p>
<p>
  <div class="info-nodo-success"></div>El Nodo tiene correctamente establecidas las direcciones respecto a sus nodos vecinos
</p>
<p>
  <div class="info-nodo-warning"></div>Existe un conflicto en la orientación del nodo respecto a sus vecinos.
</p>
{% endverbatim %}
